name: Restart Pterodactyl on Push

on:
  push:
    branches:
      - main

jobs:
  restart:
    runs-on: ubuntu-latest
    steps:
      - name: Restart Server
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.PTERO_API }}" \
          -H "Content-Type: application/json" \
          "${{ secrets.PTERO_PANEL }}/api/client/servers/${{ secrets.SERVER_ID }}/power" \
          --data '{"signal":"restart"}'
